In [1]:
import pandas as pd
import numpy as np

In [2]:
trainLoc = '../input/train.csv'
df_train = pd.read_csv(trainLoc, header = 0, sep = ',')
df_train.head()

   row_id       x       y  accuracy    time    place_id
0       0  0.7941  9.0809        54  470702  8523065625
1       1  5.9567  4.7968        13  186555  1757726713
2       2  8.3078  7.0407        74  322648  1137537235
3       3  7.3665  2.5165        65  704587  6567393236
4       4  4.0961  1.1307        31  472130  7440663949

<bound method Series.unique of 0           8523065625
1           1757726713
2           1137537235
3           6567393236
4           7440663949
5           6289802927
6           9931249544
7           5662813655
8           8471780938
9           1253803156
10          8684462954
11          2159916487
12          7652380351
13          8234363596
14          2272949794
15          4740742194
16          2123587484
17          8016758016
18          8936085695
19          2778700985
20          4845908305
21          3938338894
22          9784464752
23          1874355796
24          9885174082
25          4294512385
26          7766380992
27          2110807282
28          9713229580
29          6163271747
               ...
29117991    9518416844
29117992    4579210194
29117993    7082695242
29117994    1550124580
29117995    1226687693
29117996    3530972003
29117997    2856274327
29117998    7842684810
29117999    7594986161
29118000    4745521730
29118001    1024290530
29118002    9033567575
29118003    1329555199
29118004    5731650052
29118005    5039310244
29118006    3822809844
29118007    9294668810
29118008    9791467472
29118009    8647480716
29118010    2596462819
29118011    6554476200
29118012    1817075880
29118013    1406544605
29118014    5515553973
29118015    5760372884
29118016    8671361106
29118017    9077887898
29118018    2838334300
29118019    1007355847
29118020    7028698129
Name: place_id, dtype: int64>